@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-neutral-200 dark:bg-neutral-900 transition-colors duration-200;
}

.prose :where(h1,h2,h3):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  @apply mb-1 font-semibold
}

.prose :where(h3):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  @apply text-2xl font-semibold
}

#nd-docs-layout {
  @apply dark:bg-[#11111b];
}

#nd-sidebar {
  @apply dark:bg-[#1e1e2e];
}

.fade-bottom-10 {
  --mask: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0,
      rgba(0, 0, 0, 1) 75%,
      rgba(0, 0, 0, 0) 99%,
      rgba(0, 0, 0, 0) 0
    )
    100% 50% / 100% 100% repeat-x;

  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.fade-top-10 {
  --mask: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0,
      rgba(0, 0, 0, 0) 1%,
      rgba(0, 0, 0, 1) 30%,
      rgba(0, 0, 0, 1) 0
    )
    100% 50% / 100% 100% repeat-x;

  -webkit-mask: var(--mask);
  mask: var(--mask);
}
@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blob 7s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}
